<div bsModal #editUserModal="bs-modal" class="modal fade" id="editUserModal" tabindex="-1" role="dialog"
    aria-labelledby="editUserModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog">
        <div class="modal-content">
            <form *ngIf="model" #editUserForm="ngForm" class="form-horizontal" id="frm_edit_User" novalidate
                (ngSubmit)="save()">
                <div class="modal-header">
                    <button type="button" class="close" (click)="close()" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">
                        <span>编辑用户</span>
                    </h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="realName" class="control-label col-sm-3">真实姓名</label>
                                <div class="col-sm-8">
                                    <input id="realName" type="text" name="realName" [(ngModel)]="model.realName"
                                        required maxlength="12" minlength="2" class="validate form-control">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="email" class="control-label col-sm-3">用户邮箱</label>
                                <div class="col-sm-8">
                                    <input id="email" type="text" name="email" [(ngModel)]="model.email" required
                                        maxlength="32" minlength="10" class="validate form-control">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="telephone" class="control-label col-sm-3">用户电话</label>
                                <div class="col-sm-8">
                                    <input id="telephone" type="text" name="telephone" [(ngModel)]="model.telephone"
                                        required maxlength="32" minlength="11" class="validate form-control">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="role" class="control-label col-sm-3">用户角色</label>
                                <div class="col-sm-8">
                                    <select id="role" type="text" name="role" [(ngModel)]="model.role" class="validate form-control">
                                        <option *ngFor="let role of roles" [value]="role.id">{{role.name}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-default waves-effect" (click)="close()">
                        取消
                    </button>
                    <button [disabled]="!editUserForm.form.valid || saving" type="submit" class="btn btn-primary waves-effect">
                        <i *ngIf="saving" class=""></i>保存
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>