/* You can add global styles to this file, and also import other style files */
a {
    text-decoration: none;
    color: #363636;
}

ul, ol{
    list-style:none;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

body, dl, dd, ul, ol, h1, h2, h3, h4, h5, h6, p, form {
    margin: 0;
}

h4 {
    display: block;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.space-top-10{
    margin-top: 10px;
}

.space-center{
    display: -webkit-flex;
    -webkit-justify-content: center;
    -webkit-align-items: center;
}

.title-lable{
    line-height: 34px;
}

.btn-cell{
    width: 74px;
}

.swal2-actions button{
    font-size: 14px !important;
}

.herolist-box {
    margin-bottom: 50px;
    padding: 35px 28px;
    border: 1px solid #E8E8E8;
    position: relative;
    border-top-width: 0px !important;
}

.herolist-content {
    margin-top: 40px;
}

.herolist-content li {
    float: left;
    width: 87px;
    margin-bottom: 34px;
    margin-right: 30px;
}

.herolist-content a {
    display: block;
    width: 100%;
    text-align: center;
}

.herolist-content img {
    width: 83px;
    height: 83px;
    border: 2px solid #258DF2;
    border-radius: 10px 0 10px 0;
}
