

.types-ms {
    float: left;
    width: 900px;
    padding: 16px 0;
    height: 20px;
    line-height: 21px;
}

.types-ms li {
    float: left;
    padding-left: 15px;
    min-width: 90px;
    font-size: 14px;
    cursor: pointer;
}

.ms-radio {
    display: inline-block;
    width: 18px;
    height: 18px;
    margin-right: 7px;
    border: 1px solid #B3B3B3;
    border-radius: 50px;
    position: relative;
}

.types-ms .ms-radio {
    float: left;
}

.ms-radio .i {
    display: inline-block;
    position: absolute;
    top: 2px;
    left: 2px;
    width: 12px;
    height: 12px;
    background-color: none;
    border-radius: 50px;
}

.types-ms .current .ms-radio .i {
    background-color: #358ADD;
}

.poppup-item {
    display: none;
    position: absolute;
    top: 20%;
    left: 20%;
    background: rgba(0,0,0,.9);
    opacity: 0.9;
    border: 1px solid #459ef4;
    width: 263px;
    padding: 24px 15px 24px 33px;
    z-index: 100;
    font-family: "microsoft yahei";
}

.item-title {
    height: 74px;
}

.item-title img {
    float: left;
    width: 74px;
    height: 74px;
    margin-right: 15px;
}
img {
    display: block;
    border: 0;
    border-radius: 2px 2px 2px 2px;
}

.item-title .cons {
    float: left;
    margin-left: 6px;
}
.item-title h4 {
    font-size: 18px;
    font-weight: bold;
    color: #23ff28;
    line-height: 26px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 118px;
    margin: 0px;
}
.item-title .cons p {
    font-size: 14px;
    color: #da951c;
    line-height: 30px;
}

.item-desc {
    padding: 12px 0;
    color: #369ff9;
    font-size: 14px;
    line-height: 22px;
    clear: both;
}

.item-desc div {
    line-height: 22px;
    word-wrap: break-word;
    word-break: break-all;
    margin-bottom: 10px;
}