<div bsModal #resetPasswordModal="bs-modal" class="modal fade" id="resetPasswordModal" tabindex="-1" role="dialog"
    aria-labelledby="resetPasswordModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog">
        <div class="modal-content">
            <form *ngIf="model" #resetPasswordForm="ngForm" class="form-horizontal" id="frm_edit_User" novalidate
                (ngSubmit)="save()">
                <div class="modal-header">
                    <button type="button" class="close" (click)="close()" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">
                        <span>用户密码重置</span>
                    </h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="password" class="control-label col-sm-3">新密码</label>
                                <div class="col-sm-8">
                                    <input id="password" type="text" name="password" [(ngModel)]="model.new"
                                        required maxlength="12" minlength="6" class="validate form-control">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="passwordConfirm" class="control-label col-sm-3">密码确认</label>
                                <div class="col-sm-8">
                                    <input id="passwordConfirm" type="text" name="passwordConfirm" [(ngModel)]="model.newConfirm" required
                                        maxlength="32" minlength="6" class="validate form-control">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-default waves-effect" (click)="close()">
                        取消
                    </button>
                    <button [disabled]="!resetPasswordForm.form.valid || saving" type="submit" class="btn btn-primary waves-effect">
                        <i *ngIf="saving" class=""></i>保存
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>