<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a routerLink="/introduce">Home</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <span>游戏资料</span>
        </li>
    </ul>
</div>

<h1 class="herolist-title">英雄介绍</h1>

<ul class="nav nav-tabs">
    <li [class.active]="submenu == 1" >
        <a routerLink="/introduce/hero" (click)="subMenuChange(1)"> 英雄 </a>
    </li>
    <li [class.active]="submenu == 2">
        <a routerLink="/introduce/equipment" (click)="subMenuChange(2)"> 局内道具 </a>
    </li>
    <li [class.active]="submenu == 3">
        <a routerLink="/introduce/summoner" (click)="subMenuChange(3)"> 召唤师技能 </a>
    </li>
    <li [class.active]="submenu == 4">
        <a routerLink="/introduce/inscription" (click)="subMenuChange(4)"> 铭文 </a>
    </li>
</ul>

<router-outlet></router-outlet>