<div class="page-sidebar-wrapper">
  <div class="page-sidebar navbar-collapse collapse">
      <ul class="page-sidebar-menu  page-header-fixed page-sidebar-menu-light" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200" style="padding-top: 20px">
          <li class="sidebar-toggler-wrapper hide">
              <div class="sidebar-toggler">
                  <span></span>
              </div>
          </li>
          <li class="heading">
              <h3 class="uppercase">Features</h3>
          </li>
          <li class="nav-item">
              <a href="javascript:;" class="nav-link nav-toggle">
                  <i class="icon-diamond"></i>
                  <span class="title">王者荣耀</span>
                  <span class="selected"></span>
                  <span class="arrow"></span>
              </a>
              <ul class="sub-menu">
                <li class="nav-item  ">
                    <a routerLink="/introduce" class="nav-link ">
                        <span class="title">游戏资料</span>
                    </a>
                </li>
              </ul>
          </li>
          <li class="nav-item  ">
              <a class="nav-link nav-toggle">
                  <i class="icon-settings"></i>
                  <span class="title">NBA</span>
              </a>
          </li>
          <li class="nav-item  ">
                <a href="javascript:;" class="nav-link nav-toggle">
                        <i class="icon-diamond"></i>
                        <span class="title">股票</span>
                        <span class="selected"></span>
                        <span class="arrow"></span>
                    </a>
                    <ul class="sub-menu">
                      <li class="nav-item  ">
                          <a routerLink="/stock/quotation" class="nav-link ">
                              <span class="title">行情</span>
                          </a>
                      </li>
                      <li class="nav-item  ">
                            <a routerLink="/stock/monitor" class="nav-link ">
                                <span class="title">自选</span>
                            </a>
                        </li>
                    </ul>
        </li>
      </ul>
  </div>
</div>