<div class="page-sidebar-wrapper">
    <div class="page-sidebar navbar-collapse collapse">
        <ul class="page-sidebar-menu  page-header-fixed page-sidebar-menu-light" data-keep-expanded="false"
            data-auto-scroll="true" data-slide-speed="200" style="padding-top: 20px">
            <li class="sidebar-toggler-wrapper hide">
                <div class="sidebar-toggler">
                    <span></span>
                </div>
            </li>
            <li class="heading">
                <h3 class="uppercase">Features</h3>
            </li>

            <ng-template ngFor let-menuItem [ngForOf]="menuItems" let-mainMenuItemIndex="index">
                <li *ngIf="showMenuItem(menuItem)" class="nav-item">
                    <a href="javascript:;" class="nav-link nav-toggle">
                        <i *ngIf="menuItem.icon" [class]="menuItem.icon"></i>
                        <span>{{menuItem.name}}</span>
                        <span class="selected"></span>
                        <span class="arrow"></span>
                    </a>
                    <ul class="sub-menu" *ngIf="menuItem.items.length">
                        <ng-template ngFor let-subMenuItem [ngForOf]="menuItem.items" let-mainMenuItemIndex="index">
                            <li *ngIf="showMenuItem(subMenuItem)" class="nav-item ">
                                <a [routerLink]="[subMenuItem.route]" class="nav-link ">
                                    <span class="title">{{subMenuItem.name}}</span>
                                </a>
                            </li>
                        </ng-template>
                    </ul>
                </li>
            </ng-template>
        </ul>
    </div>
</div>