<div class="foot">
  <div class="foot_cpright">
    <div class="foot_lefts"><a target="_blank" href="//ieg.tencent.com/" title="腾讯互动娱乐" class="foot_ieg_logo">腾讯互动娱乐</a><a
        target="_blank" href="//timi.qq.com/" title="天美工作室群" class="foot_left logo1">timi</a></div>
    <ul class="foot_links">
      <li class="link_map"><a target="_blank" href="//ieg.tencent.com/">腾讯互动娱乐</a><span class="f_line">|</span><a
          target="_blank" href="//game.qq.com/contract.shtml">服务条款</a><span class="f_line">|</span><a target="_blank"
          href="//privacy.qq.com/">隐私政策</a><span class="f_line">|</span><a target="_blank" href="//game.qq.com/hr/">腾讯游戏招聘</a><span
          class="f_line">|</span><a target="_blank" href="//kf.qq.com/">腾讯游戏客服</a><span class="f_line">|</span><a
          target="_blank" href="//game.qq.com/gnav/">游戏地图</a><span class="f_line">|</span><a target="_blank" href="//game.qq.com/portal2010/business.htm">商务合作</a><span
          class="f_line">|</span><a target="_blank" href="//www.qq.com/">腾讯网</a><span class="f_line">|</span><a target="_blank"
          href="//www.qq.com/map/">网站导航</a></li>
      <li class="copyright_zh"><a target="_blank" href="//www.tencent.com/law/mo_law.shtml?/law/copyright.htm">腾讯公司版权所有</a></li>
      <li class="copyright_en">
        <p class="copyright_txt">COPYRIGHT © 1998 - 2018 TENCENT. ALL RIGHTS RESERVED.</p>
      </li>
      <li class="limit_age">本网络游戏适合17+岁的用户使用；为了您的健康，请合理控制游戏时间。</li>
      <li class="copyright_public"><a target="_blank" href="//www.qq.com/culture.shtml">粤网文[2017]6138-1456号</a><span
          class="f_line">|</span><a target="_blank" href="//game.qq.com/culture2.htm">新出网证（粤）字010号</a></li>
      <li class="copyright_private"><a target="_blank" href="//sq.ccm.gov.cn/ccnt/sczr/service/business/emark/gameNetTag/4028c08b51af781b0151ecc723d77cc7"><img
            src="//game.gtimg.cn/images/js/2018foot/logo/icplogo.png" width="13" height="15">文网游备字[2016]M-CSG 0059 号</a><span
          class="f_line">|</span>新广出审[2017] 6712号<span class="f_line">|</span>ISBN 978-7-7979-8408-9</li>
    </ul>
  </div>
  <div class="foot_bottom foot-tips fl">
    <p class="fb">温馨提示：本游戏适合16岁(含)以上玩家娱乐</p>
    <p><em>抵制不良游戏</em><em>拒绝盗版游戏</em><em>注意自我保护</em><em>谨防受骗上当</em><em>适度游戏益脑</em><em>沉迷游戏伤身</em><em>合理安排时间</em><em>享受健康生活</em></p>
    <p class="intro">《王者荣耀》全部背景故事发生于架空世界“王者大陆”中。相关人物、地理、事件均为艺术创作，并非正史。若因观看王者故事对相关历史人物产生兴趣，建议查阅正史记载。</p>
    <p class="report">全国文化市场统一举报电话：12318</p>
  </div>
</div>