<div class="clearfix">
  <app-breadcrumb [moduleName]="'问题跟踪'" [pageName]="'用户管理'" [homeRoute]="'bug'"></app-breadcrumb>

  <div class="portlet light bordered space-top-10">
    <div class="portlet-title">
      <div class="caption">
        <i class="icon-social-dribbble font-green"></i>
        <span class="caption-subject font-green bold uppercase">用户管理</span>

      </div>
      <div class="actions">
        <button id="addNewUser" class="btn green" (click)="addNewUser()">
          <i class="icon-user-follow"></i>添加新用户
        </button>
      </div>
    </div>
    <div class="portlet-body">
      <div class="table-scrollable">
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th style="width:50px"> # </th>
              <th> 账号 </th>
              <th> 姓名 </th>
              <th> 角色 </th>
              <th> 电话 </th>
              <th> 邮件 </th>
              <th style="width:220px; min-width: 220px;"> 操作 </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of users; let i = index">
              <td>{{start + i + 1}}</td>
              <td>{{user.account}}</td>
              <td>{{user.realName}}</td>
              <td>{{user.roleName}}</td>
              <td>{{user.telephone}}</td>
              <td>{{user.email}}</td>
              <td style="padding:5px 10px">
                <button type="button" class="btn btn-success btn-xs" (click)="editUser(user)"><i class="fa fa fa-edit"></i>&nbsp;编辑&nbsp;</button>
                <button type="button" class="btn btn-danger btn-xs" (click)="delete(user)"><i class="fa fa-remove"></i>&nbsp;删除&nbsp;</button>
                <button type="button" class="btn btn-danger btn-xs" (click)="resetPassowrd(user)"><i class="fa fa-remove"></i>&nbsp;密码重设&nbsp;</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <app-pagination (pageChanged)="onPageChanged($event)"></app-pagination>
    </div>
  </div>
</div>


<app-create-user #createUserModal (modalSave)="refresh()"></app-create-user>
<app-edit-user #editUserModal (modalSave)="refresh()"></app-edit-user>
<app-reset-password #resetPasswordModal (modalSave)="refresh()"></app-reset-password>